<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <section id="ui_imgcore">
        <div class="sec_child">
            <h3>ngImgCrop</h3>

            <p>性质：angularjs插件</p>

            <p>简单使用如下：</p>
            <div>
                <div oc-lazy-load="['htmls/testinclude1.js']">
                    <div ng-controller="test1Ctrl">
                        <div ng-init="init()">
                            test1Ctrl
                            test1Ctrl
                            test1Ctrl
                            test1Ctrl
                        </div>
                    </div>
                </div>
            </div>
            <div class="bs-docs-example">
                <div oc-lazy-load="['ngImgCrop','ngImgCrop/imgcrop.js']">
                        <div class="row wrapper-md" v-controller="ImgCropCtrl">
                            <div class="m-b">
                                选择一个图片文件：
                                <input type="file" id="fileInput"/>
                            </div>
                            <div class="hbox hbox-auto-xs">
                                <div class="col">
                                    <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
                                        <div class="bg-light" style="height:320px">
                                            <img-crop image="myImage" result-image="myCroppedImage"
                                                      result-image-size="160" area-type="{{cropType}}"
                                            ></img-crop>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="inline bg-white wrapper-sm b-a">
                                        <div class="bg-light"><img v-src="{{myCroppedImage}}"/></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group m-t">
                                <label class="btn btn-default" v-model="cropType"
                                       btn-radio="'circle'">圆形</label>
                                <label class="btn btn-default" v-model="cropType"
                                       btn-radio="'square'">方形</label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>-->
<script src="//cdn.bootcss.com/jquery/2.1.3/jquery.js"></script>
<script src="js/vx2.min.js"></script>
<!--<script src="//cdn.bootcss.com/angular.js/1.3.2/angular.js"></script>-->
<script src="ocLazyLoad/dist/ocLazyLoad.js"></script>
<script type="text/javascript">
  var app=  angular.module('app', ['oc.lazyLoad']);
    app.config(['$ocLazyLoadProvider', function($ocLazyLoadProvider) {
        // We configure ocLazyLoad to use the lib script.js as the async loader
        $ocLazyLoadProvider.config({
            debug:  true,
            events: true,
            modules: [
                {
                    name: 'ngImgCrop',
                    files: [
                        './ngImgCrop/compile/minified/ng-img-crop.js',
                        './ngImgCrop/compile/minified/ng-img-crop.css'
                    ]
                }
            ]
        });
    }]);
  app.config(
          ['$controllerProvider', '$compileProvider', '$filterProvider', '$provide',
              function ($controllerProvider, $compileProvider, $filterProvider, $provide) {

                  // lazy controller, directive and service
                  app.controller = $controllerProvider.register;
                  app.directive = $compileProvider.directive;
                  app.filter = $filterProvider.register;
                  app.factory = $provide.factory;
                  app.service = $provide.service;
                  app.constant = $provide.constant;
                  app.value = $provide.value;
              }
          ]);
</script>
</body>
</html>