<!doctype html>
<html ng-app="myApp">
<head>
    <script src="../js/angular-1.2.js"></script>
</head>
<body>

<div ng-controller="LotteryController">
    <div ng-class="{red: x > 5}" ng-if="x > 5">
        You won!
    </div>
    <button ng-click="x = generateNumber()" ng-init="x = 0">Draw Number</button>
    <p>Number is: {{ x }}</p>
</div>
<script type="text/javascript">
    angular.module('myApp', [])
            .controller('LotteryController', function($scope) {
                $scope.generateNumber = function() {
                    return Math.floor((Math.random()*10)+1);
                };
            });
</script>
</body>
</html>